sistema_de_informes/docs/n8n/exports/mcp_input_handler.json
[{"createdAt":"2026-01-16T23:42:59.389Z","updatedAt":"2026-01-17T01:09:42.000Z","id":"cJK0d4LJqipHhjpk","name":"MCP Input Handler -> AI Orchestrator (Semana 3)","active":true,"nodes":[{"parameters":{"path":"mcp-input","httpMethod":"POST","responseMode":"lastNode","options":{}},"id":"a8ddc2c1-7d4c-4d55-9b1c-2c3a95c11d01","name":"WebhookMCPInput","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,300]},{"parameters":{"jsCode":"// Normaliza entrada para llamar a ai-orchestrator /chat.\n// Body esperado: { message, toolName?, toolArgs? }\n\nconst body = items?.[0]?.json?.body ?? items?.[0]?.json ?? {};\n\nconst message = String(body.message ?? body.text ?? body.prompt ?? 'Hola');\nconst toolName = body.toolName ? String(body.toolName) : undefined;\nconst toolArgs = (body.toolArgs && typeof body.toolArgs === 'object') ? body.toolArgs : {};\n\nreturn [{ json: { message, toolName, toolArgs } }];"},"id":"b1c9e2d8-1cda-4b1a-9f43-7b0f2a1d04b2","name":"Normalizar ChatIn","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,300]},{"parameters":{"method":"POST","url":"http://ai-orchestrator:8003/chat","bodyParametersJson":"={{ $json }}","options":{"timeout":15000,"response":{"responseFormat":"json"}},"requestMethod":"POST","responseFormat":"json","authentication":"none","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"message","value":"={{ $json.message }}"}]}},"id":"cfe0a0bb-828b-4e89-90b7-22a111d2ed33","name":"Llamar AI Orchestrator","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[780,300]}],"connections":{"Normalizar ChatIn":{"main":[[{"node":"Llamar AI Orchestrator","type":"main","index":0}]]},"WebhookMCPInput":{"main":[[{"node":"Normalizar ChatIn","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":null,"versionId":"00000000-0000-0000-0000-000000000000","triggerCount":1,"tags":[]}]